<% if @cake.errors.any? %>
 <%= @cake.errors.count %>件のエラーが発生しました
 <ul>
  <% @cake.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<h1>New Cake</h1>
<%= form_with model: @cake do |f| %>
 <h4>Product name</h4>
 <%= f.text_field :cake_name %>
 
 <>Genre</h4>
  <%= f.text_field :genre_id
  
  
  <h4>cost</h4>
 <%= f.number_field :cost %>
 
  <h4>stock</h4>
 <%= f.number_field :stock %>
 
 <%= f.submit 'create' %>
<% end %>

