<% if @cake.errors.any? %>
 <%= @cake.errors.count %>件のエラーが発生しました
 <ul>
  <% @cake.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<h1>New Cake</h1>
  <%= form_with model: @cake do |f| %>

 <p>Product name<p>
   <%= f.text_field :cake_name %>
 
 <p>Genre</p>
   <%= f.text_field :genre_id %>
  
 <p>cost</p>
   <%= f.number_field :cost %>
 
 <p>stock</p>
   <%= f.number_field :stock %>
 
 <%= f.submit 'create' %>
<% end %>

