<% if current_user.admin_flag %>
  <div class="container button__container">
    <%= link_to '全員', sort_users_path(type: 'everyone'), remote: true, id: 'everyone-button', class: btn_classes[0] %>
    <%= link_to '管理者', sort_users_path(type: 'admin'), remote: true, id: 'admin-button', class: btn_classes[1] %>
    <%= link_to '顧客', sort_users_path(type: 'customer'), remote: true, id: 'customer-button', class: btn_classes[2] %>
  </div>
<% end %>

<div class="container">
  <ul class="userlist">
    <% users.each do |user| %>
      <% if user.admin_flag && !current_user.admin_flag %>
        <% next %>
      <% end %>

     <% if user.deleted_flag == true %>
      <% next %>
     <% end %>

      <% if user.id == current_user.id %>
        <li class="userlist__item currentuser">
          <%= link_to user.name, edit_user_path(user.id) %>
        </li>
      <% else %>
        <li class="userlist__item">
          <%= user.name %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>