<% if @user.errors.any? %>
 <%= @user.errors.count %>件のエラーが発生しました
 <ul>
  <% @user.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>
<div class="sign">
 <h1>User edit</h1>
</div>

<%= form_with model: @user, local: true do |f|%>
  <div class="field">
    <div class="text__name">
     <%=f.label :name %>
    </div>
     <%=f.text_field :name %>
   </div>

   <div class="field">
    <div class="text__mail">
     <%=f.label :email %>
    </div>
     <%=f.email_field :email %>
   </div>
   
   <div class="field">
     <div class="text__telephone">
      <%=f.label :telephone_number %>
     </div>
      <%=f.telephone_field :telephone_number %>
   </div>
   
   <div class="field">
    <div class="text__password">
     <%=f.label :password %>
    </div>
     <%=f.password_field :password %>
   </div>
   
   <div class="actions ">
    <%= f.submit "Update", class: "button__sm" %>
   </div>
<% end %>
<div class="actions ">
 <%= link_to "destroy", user_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "button__sm" %>
</div>