<%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="slider-container">
  <div class="wrapper">
    <%= image_tag 'cake.image/cake.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake2.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake3.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake4.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake5.jpg', class: 'slide' %>
  </div>
  <div class="wrapper">
    <%= image_tag 'cake.image/cake.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake2.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake3.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake4.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake5.jpg', class: 'slide' %>
  </div>
  <div class="wrapper">
    <%= image_tag 'cake.image/cake.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake2.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake3.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake4.jpg', class: 'slide' %>
    <%= image_tag 'cake.image/cake5.jpg', class: 'slide' %>
  </div>
</div>

<div id="typewriter-text" data-current-user-name="<%= @user.name %>"></div>