<% if current_user.admin_flag %>
  <div class="container button__container">
    <% sort_buttons_text.each_with_index do |button_text, i| %>
      <% button_class = active_button_index == i ? 'button button__active' : 'button' %>
      <%= link_to button_text, send(sort_path, pushed_button: button_text), class: button_class, remote: true %>
    <% end %>
  </div>
<% end %>

<div class="container">
  <ul class="list">
    <!--ユーザー一覧の場合-->
    <% if model_name == 'User' %>
      <% models.each do |model| %>
        <% if model.admin_flag && !current_user.admin_flag %>
          <% next %>
        <% end %>

        <% if model.id == current_user.id %>
          <li class="list__item currentuser">
            <%= link_to model.name, edit_user_path(model.id) %>
          </li>
        <% else %>
          <li class="list__item">
            <%= model.name %>
          </li>
        <% end %>
      <% end %>

    <!--ケーキ一覧の場合-->
    <% elsif model_name == 'Cake' %>
      <% models.each do |model| %>
        <li class="list__item">
          <%= link_to model.cake_name, cake_path(model.id) %>
          <p>￥<%= model.cost %></p>
          <small><%= model.genre.name %></small>
          <% if current_user.admin_flag %>
            <p>
              <%= link_to '編集', edit_cake_path(model.id), class: 'button button__sm' %>
            </p>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>