<% if current_user.admin_flag %>
  <div class="container button__container">
    <% sort_buttons_text.each_with_index do |button_text, i| %>
      <% button_class = active_button_index == i ? 'button button__active' : 'button' %>
      <%= link_to button_text, send(sort_path, pushed_button: button_text), class: button_class, remote: true %>
    <% end %>
  </div>
<% end %>

<div class="container">
  <ul class="list">
    <!--ユーザー一覧の場合-->
    <% if model_name == 'User' %>
      <% models.each do |model| %>
        <% if model.admin_flag && !current_user.admin_flag %>
          <% next %>
        <% end %>

        <% if model.deleted_flag %>
          <% next %>
        <% end %>

        <% if model.id == current_user.id %>
          <li class="list__item currentuser">
            <%= link_to edit_user_path(model.id) do %>
              <%= model.name %>
              <% if model.admin_flag %>
                <p>管理者</p>
              <% end %>
            <% end %>
          </li>
        <% else %>
          <li class="list__item">
            <%= model.name %>

            <% if current_user.admin_flag? %>
              <% if model.admin_flag %>
                <p>管理者</p>
              <% end %>

              <% if !model.admin_flag %>
                <p>
                  <%= link_to '編集', edit_user_path(model.id), class: 'button button__sm' %>
                </p>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>


    <!--ケーキ一覧の場合-->
    <% elsif model_name == 'Cake' %>
      <% models.each do |model| %>
        <% if model.deleted_flag %>
          <% next %>
        <% end %>

        <li class="list__item">
          <input type="checkbox" class="list__checkbox js__checkbox">
          <div class="list__imagewrap">
            <%= image_tag "cake.image/cake#{rand(1..5)}.jpg", class: 'list__image' %>
          </div>
          <%= link_to model.cake_name, cake_path(model.id) %>
          <p>￥<%= model.cost %></p>
          <p>在庫数：<%= model.stock %></p>
          <small><%= model.genre.name %></small>
          <% if current_user.admin_flag %>
            <p>
              <%= link_to '編集', edit_cake_path(model.id), class: 'button button__sm' %>
            </p>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>