<!DOCTYPE html>
<html>
  <head>
    <title>Caketabero</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if user_signed_in?  %>
      <%= javascript_pack_tag 'nav', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'typewriter', 'data-turbolinks-track': 'reload' %> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <h1 class="header__logo">CakeTabero</h1>
      <% if user_signed_in? %>
        <div class="nav">
          <ul class="accordion">
            <li class="accordion__item">Navi</li>
            <li class="accordion__item"><%= link_to "Top", root_path %></li>
            <li class="accordion__item"><%= link_to "Cart", cakes_path %></li>
            <li class="accordion__item"><%= link_to "User", users_path %></li>
            <li class="accordion__item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
    </header>

    <% flash.each do |key, value| %>
      <% if key == 'alert' %>
        <div class="flash flash__alert">
          <%= value %>
        </div>
      <% elsif key == 'notice' %>
        <div class="flash flash__notice">
          <%= value %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
